env/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

server/__pycache__/
server/.vscode/
server/.env
server/database/__pycache__/
server/migrations/__pycache__/
server/migrations/versions/__pycache__/
server/static/
server/messages.pot
