.icon-actionpoints {
  float: left;
  width: 22px;
  height: 22px;
  background: url('https://s.ankama.com/www/static.ankama.com/dofus/ng/modules/mmorpg/encyclopedia/icons/sprite.png') -97px -243px;
}

.icon-movementpoints {
  float: left;
  width: 22px;
  height: 22px;
  background: url('https://s.ankama.com/www/static.ankama.com/dofus/ng/modules/mmorpg/encyclopedia/icons/sprite.png') -97px -52px;
}

.icon-range {
  float: left;
  width: 22px;
  height: 22px;
  background: url('https://s.ankama.com/www/static.ankama.com/dofus/ng/modules/mmorpg/encyclopedia/icons/sprite.png') -97px -128px;
}

.icon-summon {
  float: left;
  width: 22px;
  height: 22px;
  background: url('https://s.ankama.com/www/static.ankama.com/dofus/ng/modules/mmorpg/encyclopedia/icons/sprite.png') -97px -507px;
}

.icon-vitality {
  float: left;
  width: 22px;
  height: 22px;
  background: url('https://s.ankama.com/www/static.ankama.com/dofus/ng/modules/mmorpg/encyclopedia/icons/sprite.png') -97px -319px;
}

.icon-agility {
  float: left;
  width: 22px;
  height: 22px;
  background: url('https://s.ankama.com/www/static.ankama.com/dofus/ng/modules/mmorpg/encyclopedia/icons/sprite.png') -97px -167px;
}

.icon-chance {
  float: left;
  width: 22px;
  height: 22px;
  background: url('https://s.ankama.com/www/static.ankama.com/dofus/ng/modules/mmorpg/encyclopedia/icons/sprite.png') -97px -89px;
}

.icon-strength {
  float: left;
  width: 22px;
  height: 22px;
  background: url('https://s.ankama.com/www/static.ankama.com/dofus/ng/modules/mmorpg/encyclopedia/icons/sprite.png') -97px -432px;
}

.icon-intelligence {
  float: left;
  width: 22px;
  height: 22px;
  background: url('https://s.ankama.com/www/static.ankama.com/dofus/ng/modules/mmorpg/encyclopedia/icons/sprite.png') -97px -394px;
}

.icon-power {
  float: left;
  width: 22px;
  height: 22px;
  background: url('https://s.ankama.com/www/static.ankama.com/dofus/ng/modules/mmorpg/encyclopedia/icons/sprite.png') -97px -1108px;
}

.icon-criticalhits {
  float: left;
  width: 22px;
  height: 22px;
  background: url('https://s.ankama.com/www/static.ankama.com/dofus/ng/modules/mmorpg/encyclopedia/icons/sprite.png') -97px -589px;
}

.icon-wisdom {
  float: left;
  width: 22px;
  height: 22px;
  background: url('https://s.ankama.com/www/static.ankama.com/dofus/ng/modules/mmorpg/encyclopedia/icons/sprite.png') -97px -358px;
}

.icon-apreduction {
  float: left;
  width: 22px;
  height: 22px;
  background: url('https://s.ankama.com/www/static.ankama.com/dofus/ng/modules/mmorpg/encyclopedia/icons/sprite.png') -97px -1297px;
}

.icon-mpreduction {
  float: left;
  width: 22px;
  height: 22px;
  background: url('https://s.ankama.com/www/static.ankama.com/dofus/ng/modules/mmorpg/encyclopedia/icons/sprite.png') -97px -1340px;
}

.icon-apresistance {
  float: left;
  width: 22px;
  height: 22px;
  background: url('https://s.ankama.com/www/static.ankama.com/dofus/ng/modules/mmorpg/encyclopedia/icons/sprite.png') -97px -1064px;
}

.icon-mpresistance {
  float: left;
  width: 22px;
  height: 22px;
  background: url('https://s.ankama.com/www/static.ankama.com/dofus/ng/modules/mmorpg/encyclopedia/icons/sprite.png') -97px -1016px;
}

.icon-heals {
  float: left;
  width: 22px;
  height: 22px;
  background: url('https://s.ankama.com/www/static.ankama.com/dofus/ng/modules/mmorpg/encyclopedia/icons/sprite.png') -97px -966px;
}

.icon-lock {
  float: left;
  width: 22px;
  height: 22px;
  background: url('https://s.ankama.com/www/static.ankama.com/dofus/ng/modules/mmorpg/encyclopedia/icons/sprite.png') -97px -545px;
}

.icon-dodge {
  float: left;
  width: 22px;
  height: 22px;
  background: url('https://s.ankama.com/www/static.ankama.com/dofus/ng/modules/mmorpg/encyclopedia/icons/sprite.png') -97px -468px;
}

.icon-initiative {
  float: left;
  width: 22px;
  height: 22px;
  background: url('https://s.ankama.com/www/static.ankama.com/dofus/ng/modules/mmorpg/encyclopedia/icons/sprite.png') -97px -205px;
}

.icon-prospecting {
  float: left;
  width: 22px;
  height: 22px;
  background: url('https://s.ankama.com/www/static.ankama.com/dofus/ng/modules/mmorpg/encyclopedia/icons/sprite.png') -97px -279px;
}
