.stat-summary-sidebar {
  float: left;
  width: 15%;
  margin: 5px;
  background-color: lightgrey;
}

.middle-column {
  float: left;
  width: 40%;
  margin: 5px;
  background-color: darkgrey;
}

.vertical-item-bar {
  float: left;
  width: 20%;
  background-color: white;
}

.item-box {
  float: left;
  width: 90%;
  padding-bottom: 90%;
  margin: 2px;
  background-color: lightgrey;
}

.character-model {
  float: left;
  width: 50%;
  background-color: green;
}

.right-sidebar {
  float: right;
  width: 15%;
  margin: 5px;
  background-color: lightgrey;
}

.set-options {

}

.stat-distribution {

}

.stat-points {

}

.exo-stats {

}
