<!DOCTYPE html>
<html>
  <head>
    <!-- Meta -->
    <meta charset="UTF-8">

    <!-- Title -->
    {% if title %}
      <title>Dofus Sets - {{ title }}</title>
    {% else %}
      <title>Dofus Sets</title>
    {% endif %}

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/static/css/master.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/set_creation.css">
    <link rel="stylesheet" href="/static/css/miscellaneous_icons.css">
  </head>
  <body>
    <!-- Header -->
    <header>
      <div id="home-button">
        <span>DofusSets</span>
      </div>

      <nav>
        <ul>
          <li>Login</li>
          <li>Register</li>
        </ul>
      </nav>
    </header>

    <!-- Page Content -->
    {% block content %}
    {% endblock content %}
  </body>
</html>
