alembic==1.3.1
aniso8601==7.0.0
appdirs==1.4.3
astroid==2.3.3
attrs==19.3.0
autopep8==1.5
Babel==2.8.0
bcrypt==3.1.7
beautifulsoup4==4.8.1
black==22.3.0
boto3==1.12.31
botocore==1.15.31
bs4==0.0.1
bytecode==0.13.0
certifi==2019.9.11
cffi==1.14.0
cfgv==3.1.0
chardet==3.0.4
click==8.0.0
cycler==0.11.0
ddtrace==2.18.1
decorator==4.4.2
Deprecated==1.2.15
distlib==0.3.0
docutils==0.15.2
dogpile.cache==0.9.0
envier==0.6.1
exceptiongroup==1.2.2
filelock==3.0.12
Flask==1.1.1
Flask-Babel==1.0.0
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.8
Flask-GraphQL==2.0.0
Flask-Limiter-graphQL-support==0.1.5
Flask-Login==0.5.0
Flask-Migrate==2.5.2
Flask-Session==0.3.1
Flask-SQLAlchemy==2.4.1
graphene==2.1.8
graphene-sqlalchemy==2.2.2
graphql-core==2.2.1
graphql-relay==2.0.0
graphql-server-core==1.1.1
gunicorn==20.0.4
identify==1.4.15
idna==2.8
importlib-metadata==6.5.0
importlib-resources==1.5.0
iniconfig==2.0.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.9.5
joblib==1.1.0
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
limits==1.5.1
Mako==1.1.0
MarkupSafe==1.1.1
matplotlib==3.3.4
mccabe==0.6.1
mlxtend==0.19.0
mypy-extensions==1.0.0
nodeenv==1.3.5
numpy==1.19.5
opentelemetry-api==1.22.0
packaging==24.0
pandas==1.1.5
pathspec==0.9.0
Pillow==8.4.0
platformdirs==4.0.0
pluggy==1.2.0
pre-commit==2.3.0
promise==2.2.1
protobuf==4.24.4
psycopg2==2.8.4
pycodestyle==2.5.0
pycparser==2.19
PyJWT==1.7.1
pylint==2.4.4
pylint-flask==0.6
pylint-plugin-utils==0.6
pyparsing==3.0.6
pytest==7.4.4
python-dateutil==2.8.1
python-dotenv==0.10.3
python-editor==1.0.4
pytz==2019.3
PyYAML==5.3.1
redis==3.4.1
regex==2019.11.1
requests==2.22.0
rq==1.3.0
Rx==1.6.1
s3transfer==0.3.3
scikit-learn==0.24.2
scipy==1.5.4
setproctitle==1.3.3
singledispatch==3.4.0.3
six==1.13.0
soupsieve==1.9.5
SQLAlchemy==1.3.11
threadpoolctl==3.0.0
toml==0.10.0
tomli==2.0.1
typed-ast==1.4.2
typing_extensions==4.7.1
urllib3==1.25.7
virtualenv==16.7.12
Werkzeug==3.0.6
wrapt==1.11.2
xmltodict==0.14.2
zipp==3.1.0
