{% extends 'layout.html' %}

{% block content %}
  <div class="stat-summary-sidebar">
    <div class="characteristics-list">
      <ul>
        <span>Primary Characteristics</span>
        <li>AP</li>
        <li>MP</li>
        <li>Range</li>
        <li>Summons</li>
        <li>Vitality</li>
        <li>Agility</li>
        <li>Chance</li>
        <li>Strength</li>
        <li>Intelligence</li>
        <li>Power</li>
        <li>Critical Hits</li>
        <li>Wisdom</li>
      </ul>
    </div>
    <div class="characteristics-list">
      <ul>
        <span>Secondary Characteristics</span>
        <li>AP Reduction</li>
        <li>MP Reduction</li>
        <li>AP Parry</li>
        <li>MP Parry</li>
        <li>Heals</li>
        <li>Lock</li>
        <li>Dodge</li>
        <li>Initiative</li>
        <li>Summons</li>
        <li>Prospecting</li>
      </ul>
    </div>
    <div class="characteristic-list">
      <ul>
        <span>Damage</span>
        <li>Final Damage</li>
        <li>Range Damage</li>
        <li>Melee Damage</li>
        <li>Damage</li>
        <li>Critical Damage</li>
        <li>Neutral (flat)</li>
        <li>Earth (flat)</li>
        <li>Fire (flat)</li>
        <li>Water (flat)</li>
        <li>Air (flat)</li>
      </ul>
    </div>
  </div>
  <div class="middle-column">
    <div class="item-preview">
      <div class="vertical-item-bar">
        <div class="item-box">
        </div>
        <div class="item-box">
        </div>
        <div class="item-box">
        </div>
        <div class="item-box">
        </div>
        <div class="item-box">
        </div>
      </div>
      <div class="character-model">

        <span>test</span>
      </div>
      <div class="vertical-item-bar">
        <div class="item-box">
        </div>
        <div class="item-box">
        </div>
        <div class="item-box">
        </div>
        <div class="item-box">
        </div>
        <div class="item-box">
        </div>
      </div>
    </div>
    <!-- <div class="Passives">
    </div>
    <div class="Set Bonuses">
    </div>
    <div class="spell-summary">
    </div> -->
  </div>
  <div class="right-sidebar">
    <div class="set-options">
      <div>
        <span>save</span>
        <span>share</span>
        <span>copy</span>
      </div>
      <div>
        <p>title box</p>
        <p>description box</p>
      </div>
    </div>
    <div class="stat-distribution">
      <div>
        <span>stat distributions</span>
        <div class="stat-points">
          <span>vit</span>
        </div>
        <div class="stat-points">
          <span>agi</span>
        </div>
        <div class="stat-points">
          <span>chance</span>
        </div>
        <div class="stat-points">
          <span>str</span>
        </div>
        <div class="stat-points">
          <span>int</span>
        </div>
        <div class="stat-points">
          <span>wis</span>
        </div>
      </div>
      <div class="exo-stats">
        <span>exos</span>
      </div>
    </div>
  </div>

{% endblock content%}
