{% extends 'layout.html' %}

{% block content %}
  <!-- left Column -->
  <div class="stat-summary-sidebar">
    <div class="characteristics-list">
      <ul>
        <span><b>Primary Characteristics</b></span>
        <li>
          <div class="characteristic-line">
            <div class="icon-actionpoints"></div>
            <span>AP</span>
            <div class="characteristic-value">
              <span>11</span>
            </div>
          </div>
        </li>
        <li>
          <div class="characteristic-line">
            <div class="icon-movementpoints"></div>
            <span>MP</span>
            <div class="characteristic-value">
              <span>6</span>
            </div>
          </div>
        </li>
        <li>
          <div class="characteristic-line">
            <div class="icon-range"></div>
            <span>Range</span>
            <div class="characteristic-value">
              <span>6</span>
            </div>
          </div>
        </li>
        <li>
          <div class="characteristic-line">
            <div class="icon-summon"></div>
            <span>Summons</span>
            <div class="characteristic-value">
              <span>2</span>
            </div>
          </div>
        </li>
        <li>
          <div class="characteristic-line">
            <div class="icon-vitality"></div>
            <span>Vitality</span>
            <div class="characteristic-value">
              <span>4322</span>
            </div>
          </div>
        </li>
        <li>
          <div class="characteristic-line">
            <div class="icon-agility"></div>
            <span>Agility</span>
            <div class="characteristic-value">
              <span>234</span>
            </div>
          </div>
        </li>
        <li>
          <div class="characteristic-line">
            <div class="icon-chance"></div>
            <span>Chance</span>
            <div class="characteristic-value">
              <span>241</span>
            </div>
          </div>
        </li>
        <li>
          <div class="characteristic-line">
            <div class="icon-strength"></div>
            <span>Strength</span>
            <div class="characteristic-value">
              <span>211</span>
            </div>
          </div>
        </li>
        <li>
          <div class="characteristic-line">
            <div class="icon-intelligence"></div>
            <span>Intelligence</span>
            <div class="characteristic-value">
              <span>266</span>
            </div>
          </div>
        </li>
        <li>
          <div class="characteristic-line">
            <div class="icon-power"></div>
            <span>Power</span>
            <div class="characteristic-value">
              <span>312</span>
            </div>
          </div>
        </li>
        <li>
          <div class="characteristic-line">
            <div class="icon-criticalhits"></div>
            <span>Critical Hits</span>
            <div class="characteristic-value">
              <span>51</span>
            </div>
          </div>
        </li>
        <li>
          <div class="characteristic-line">
            <div class="icon-wisdom"></div>
            <span>Wisdom</span>
            <div class="characteristic-value">
              <span>213</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="characteristics-list">
      <ul>
        <span><b>Secondary Characteristics</b></span>
        <li>
          <div class="characteristic-line">
            <div class="icon-apreduction"></div>
            <span>AP Reduction</span>
            <div class="characteristic-value">
              <span>213</span>
            </div>
          </div>
        </li>
        <li>
          <div class="characteristic-line">
            <div class="icon-mpreduction"></div>
            <span>MP Reduction</span>
            <div class="characteristic-value">
              <span>213</span>
            </div>
          </div>
        </li>
        <li>
          <div class="characteristic-line">
            <div class="icon-apresistance"></div>
            <span>AP Parry</span>
            <div class="characteristic-value">
              <span>213</span>
            </div>
          </div>
        </li>
        <li>
          <div class="characteristic-line">
            <div class="icon-mpresistance"></div>
            <span>MP Parry</span>
            <div class="characteristic-value">
              <span>213</span>
            </div>
          </div>
        </li>
        <li>
          <div class="characteristic-line">
            <div class="icon-heals"></div>
            <span>Heals</span>
            <div class="characteristic-value">
              <span>213</span>
            </div>
          </div>
        </li>
        <li>
          <div class="characteristic-line">
            <div class="icon-lock"></div>
            <span>Lock</span>
            <div class="characteristic-value">
              <span>213</span>
            </div>
          </div>
        </li>
        <li>
          <div class="characteristic-line">
            <div class="icon-dodge"></div>
            <span>Dodge</span>
            <div class="characteristic-value">
              <span>213</span>
            </div>
          </div>
        </li>
        <li>
          <div class="characteristic-line">
            <div class="icon-initiative"></div>
            <span>Initiative</span>
            <div class="characteristic-value">
              <span>213</span>
            </div>
          </div>
        </li>
        <li>
          <div class="characteristic-line">
            <div class="icon-prospecting"></div>
            <span>Prospecting</span>
            <div class="characteristic-value">
              <span>213</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="characteristic-list">
      <ul>
        <span>Damage</span>
        <li>Final Damage</li>
        <li>Range Damage</li>
        <li>Melee Damage</li>
        <li>Spell Damage</li>
        <li>Weapon Damage</li>
        <li>Critical Damage</li>
        <li>Damage</li>
        <li>Neutral (flat)</li>
        <li>Earth (flat)</li>
        <li>Fire (flat)</li>
        <li>Water (flat)</li>
        <li>Air (flat)</li>
      </ul>
    </div>
    <div class="characteristic-list">
      <ul>
        <span>Resistances</span>
        <li>% Range</li>
        <li>% Melee</li>
        <li>% Neutral</li>
        <li>% Earth</li>
        <li>% Fire</li>
        <li>% Water</li>
        <li>% Air</li>
        <li>Neutral (flat)</li>
        <li>Earth (flat)</li>
        <li>Fire (flat)</li>
        <li>Water (flat)</li>
        <li>Air (flat)</li>
      </ul>
    </div>
  </div>
  <!-- Middle Column -->
  <div class="middle-column">
    <div class="item-preview">
      <div class="vertical-item-bar">
        <div class="item-box">
        </div>
        <div class="item-box">
        </div>
        <div class="item-box">
        </div>
        <div class="item-box">
        </div>
        <div class="item-box">
        </div>
      </div>
      <div class="character-model">
      </div>
      <div class="vertical-item-bar">
        <div class="item-box">
        </div>
        <div class="item-box">
        </div>
        <div class="item-box">
        </div>
        <div class="item-box">
        </div>
        <div class="item-box">
        </div>
      </div>
    </div>
    <!-- <div class="Passives">
    </div>
    <div class="Set Bonuses">
    </div>
    <div class="spell-summary">
    </div> -->
  </div>
  <!-- Right Column -->
  <div class="right-sidebar">
    <div class="set-options">
      <div>
        <span>save</span>
        <span>share</span>
        <span>copy</span>
      </div>
      <div>
        <p>title box</p>
        <p>description box</p>
      </div>
    </div>
    <div class="stat-distribution">
      <div>
        <span>stat distributions</span>
        <div class="stat-points">
          <span>vit</span>
        </div>
        <div class="stat-points">
          <span>agi</span>
        </div>
        <div class="stat-points">
          <span>chance</span>
        </div>
        <div class="stat-points">
          <span>str</span>
        </div>
        <div class="stat-points">
          <span>int</span>
        </div>
        <div class="stat-points">
          <span>wis</span>
        </div>
      </div>
      <div class="exo-stats">
        <span>exos</span>
      </div>
    </div>
  </div>
{% endblock content%}
